@import "../common/colors.scss";

.moviecard-container{
    color: #fff;
    margin: 10px 10px;
    transition: .2s ease-in;

    
    cursor: pointer;
    img{
        height: 200px;
        border-radius: 5px;
    }
    .movie-detail{
    }
}

.moviecard-container:hover{
    transform: scale(1.1);
}